# 環境変数ファイル
.env

# 仮想環境
venv/
.venv/

# Pythonキャッシュ
__pycache__/
*.pyc

# OS固有のファイル
.DS_Store
Thumbs.db

# 認証トークンファイル
token.pickle
credentials.json

# Google Cloud認証情報ファイル
youtube-getdate-457312-383b9e55f6aa.json